body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  color: red;
}

.yellow{
  color: yellow;
}

.blue{
  color: blue;
}

.red{
  color: red;
}

.vertical-center{
  vertical-align: middle !important;
}

.no-bottom{
  margin-bottom: 0px;
}

.pointer{
  cursor: pointer;
}

.container{
  padding-top: 80px;
  padding-bottom: 80px;
}
